<%= form_with(model: investment_contract, local: true) do |form| %>
  <% if investment_contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investment_contract.errors.count, "error") %> prohibited this investment_contract from being saved:</h2>

      <ul>
      <% investment_contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
