<%= form_with(model: price_list, local: true) do |form| %>
  <% if price_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_list.errors.count, "error") %> prohibited this price_list from being saved:</h2>

      <ul>
      <% price_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
