<p id="notice"><%= notice %></p>

<h1>Price Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_lists.each do |price_list| %>
      <tr>
        <td><%= price_list.name %></td>
        <td><%= price_list.price %></td>
        <td><%= link_to 'Show', price_list %></td>
        <td><%= link_to 'Edit', edit_price_list_path(price_list) %></td>
        <td><%= link_to 'Destroy', price_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price List', new_price_list_path %>
