<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @price_list.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price_list.price %>
</p>

<%= link_to 'Edit', edit_price_list_path(@price_list) %> |
<%= link_to 'Back', price_lists_path %>
