<%= form_with(model: car_rental_contract, local: true) do |form| %>
  <% if car_rental_contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_rental_contract.errors.count, "error") %>
        prohibited this car_rental_contract from being saved:</h2>

      <ul>
      <% car_rental_contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :rent_driver %>
    <%= form.check_box :rent_driver %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.text_field :unit_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
