<p id="notice"><%= notice %></p>

<p>
  <strong>License no:</strong>
  <%= @driver.license_no %>
</p>

<p>
  <strong>Class license:</strong>
  <%= @driver.class_license %>
</p>

<p>
  <strong>Date issue:</strong>
  <%= @driver.date_issue %>
</p>

<p>
  <strong>Date expired:</strong>
  <%= @driver.date_expired %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
