<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %>
        prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car_number_plate %>
    <%= form.text_field :car_number_plate %>
  </div>

  <div class="field">
    <%= form.label :origin_price %>
    <%= form.text_field :origin_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :rental_price %>
    <%= form.text_field :rental_price %>
  </div>

  <div class="field">
    <%= form.label :rent_status %>
    <%= form.check_box :rent_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
