<p id="notice"><%= notice %></p>

<p>
  <strong>Car number plate:</strong>
  <%= @car.car_number_plate %>
</p>

<p>
  <strong>Origin price:</strong>
  <%= @car.origin_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car.status %>
</p>

<p>
  <strong>Rental price:</strong>
  <%= @car.rental_price %>
</p>

<p>
  <strong>Rent status:</strong>
  <%= @car.rent_status %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
