<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @car_brand.try(:code) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @car_brand.try(:name) %>
</p>

<%= link_to 'Edit', edit_car_brand_path(@car_brand) %> |
<%= link_to 'Back', car_brands_path %>
